* {
    margin: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;  /* Allows multiple rows */
    justify-content: center; 
    width: 500px; /* Set a fixed width */
    margin-top: 10vh;
}

.grid-square {
    width: 5.5%;  /* 4 squares per row (100% / 4 = 25%) */
    aspect-ratio: 1; /* Makes squares equal height and width */
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-weight: bold;
    transition: background-color 0.3s;

}

.hovered {
    background-color: rgb(120, 120, 130);
}

body {
    background-color: blanchedalmond;

}

 #section {
    display: flex;
    justify-content: center;
 }

 #resetdiv {
    display: flex;
    justify-content: center;
 }

 #reset {
    margin-top: 50px;
    width: 130px;
    height: 50px;
    font-weight: bold;
    font-size: medium;
    border-radius: 3px;
    background-color: gold;
    border-color: gold;
    font-family: sans-serif;
    color: rgb(1, 87, 1);
}